<div class="comment-form" #form="ngForm" ngForm>
  <mat-form-field>
    <input matInput placeholder="Name" name="name_{{id}}" [(ngModel)]="comment.author.name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" name="email_{{id}}" [(ngModel)]="comment.author.email" required>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Comment" name="comment_{{id}}" [(ngModel)]="comment.content" required></textarea>
  </mat-form-field>
  <div class="actions">
    <button class="post-comment" [disabled]="!form.valid" color="primary" mat-raised-button>
      <mat-icon>check</mat-icon> Post
    </button>
  </div>
</div>