<mat-card>
  <mat-card-content>
    <h2 class="fancy-font">Michael Kucinski</h2>
    <div class="clearfix">
      <img src="images/me.jpg">
      <section class="fancy-font">
        Hey. I’m Michael – a photographer and full stack programmer from Northern New Jersey. I love to program, with my current
        languages being Java(EE), JavaScript (jQuery, Angular, Polymer), Typescript, HTML, CSS, and SQL (SQLServer). I’m
        also super into hiking and photography. You can see some of my pictures (which include some of my hiking adventures!)
        under the photos section, and all of my personal programming projects are on GitHub. Free free to contact me if you
        have any questions!
      </section>
      <ul class="fancy-font">
        <li class="phone">
          <a href="tel:9738144132">
            <i class="fa fa-phone" aria-hidden="true"></i> (973) 814-4132
          </a>
        </li>
        <li class="email">
          <a href="mailto:me@michaelkucinski.com">
            <i class="fa fa-envelope" aria-hidden="true"></i> me@michaelkucinski.com
          </a>
        </li>
        <li class="instagram">
          <a href="https://instagram.com/noaamichael">
            <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
          </a>
        </li>
        <li class="flickr">
          <a href="https://www.flickr.com/photos/89564538@N00/">
            <i class="fa fa-flickr" aria-hidden="true"></i> Flickr
          </a>
        </li>
        <li class="github">
          <a href="https://www.github.com/noamichael">
            <i class="fa fa-github" aria-hidden="true"></i> Github
          </a>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>