<mat-card>
  <mat-card-content>
    <h3 class="fancy-font">Search</h3>
    <div class="filters">
      <mat-checkbox *ngFor="let category of categories" aria-label="Filter Photos By {{category.value}}" (ngModelChange)="onFilterChange($event)"
        [(ngModel)]="filter[category.value]" [name]="category.value">{{category.label}}
      </mat-checkbox>
    </div>
    <div class="search-box">
      <mat-form-field>
        <input matInput #searchInput="ngModel" type="text" [(ngModel)]="text" aria-label="Photo Search Text" placeholder="Search Text"
          on-input="onSearchTextChange">
      </mat-form-field>
    </div>
    <div class="instructions fancy-font">
      Click on an photo below to see it in full size with purchasing options.
    </div>
  </mat-card-content>
</mat-card>
<mk-photo-list [photos]="photos" (photoClick)="onPhotoClick($event)"></mk-photo-list>
<div class="pagination">
  <button mat-raised-button (click)="previous()" [disabled]="!canGoPrevious()">
      <mat-icon>arrow_back</mat-icon>
      Prev
  </button>
  <button mat-raised-button (click)="next()" [disabled]="!canGoNext()">
      <mat-icon>arrow_forward</mat-icon>
      Next
  </button>
</div>