.search-box {
    display: flex;
    justify-content: center
}
.search-box paper-input {
    flex-grow: 1
}
.instructions {
    display: flex;
    justify-content: center;
}

.filters {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.pagination {
    display: flex;
    justify-content: center
}
