md-toolbar {
    background-color: rgba(0, 0, 0, 0.80);
    font-family: 'Raleway', sans-serif;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
.fancy-font{
    font-family: 'Raleway', sans-serif;
}
.loader {
    background: rgba(0,0,0,0.75);
    z-index: 2;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.loader > *{
    flex-grow: 1;
}
.loader[hidden]{
    display: none;
}
.outlet{
    padding-top: 64px;
    height: calc(100% - 64px);
}
.outlet > * {
    display: block;
}


md-icon {
    padding: 0 .5em;
    color: white;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}
.title{
    color: orangered;
    margin: 0;
}

small{
    font-size: 0.6em;
    color: white;
    font-family: 'Raleway', sans-serif;
}

a:hover > md-icon , a.active > md-icon {
      color:orangered;
      font-weight: bold;
}

@media screen and (max-width: 600px){
    small{
        display: none;
    }
}