<mat-toolbar>
  <h1 class="title fancy-font">
    Michael Kucinski
  </h1>
  <small class="fancy-font"> &nbsp;Photographer/Programmer</small>

  <span class="spacer"></span>

  <a [routerLink]="['home']" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </a>
  <a [routerLink]="['gallery']" routerLinkActive="active">
    <mat-icon>image</mat-icon>
  </a>
  <a [routerLink]="['blog']" routerLinkActive="active">
    <mat-icon>comment</mat-icon>
  </a>
  <a [routerLink]="['contact']" routerLinkActive="active">
    <mat-icon>contact_phone</mat-icon>
  </a>
</mat-toolbar>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
<div class="loader" [hidden]="!loading">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>