<md-toolbar>
  <h1 class="title fancy-font">
    Michael Kucinski
  </h1>
  <small class="fancy-font"> &nbsp;Photographer/Programmer</small>

  <span class="spacer"></span>

  <a [routerLink]="['home']" routerLinkActive="active">
    <md-icon>home</md-icon>
  </a>
  <a [routerLink]="['gallery']" routerLinkActive="active">
    <md-icon>image</md-icon>
  </a>
  <a [routerLink]="['blog']" routerLinkActive="active">
    <md-icon>comment</md-icon>
  </a>
  <a [routerLink]="['contact']" routerLinkActive="active">
    <md-icon>contact_phone</md-icon>
  </a>
</md-toolbar>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
<div class="loader" [hidden]="!loading">
    <md-spinner color="accent"></md-spinner>
</div>