<md-toolbar>
  <h1 class="title fancy-font">
    Michael Kucinski
  </h1>

  <span class="spacer"></span>

  <a [routerLink]="['home']" routerLinkActive="active">
    <md-icon>home</md-icon>
  </a>
  <a [routerLink]="['gallery']" routerLinkActive="active">
    <md-icon>image</md-icon>
  </a>
  <a>
    <md-icon>comment</md-icon>
  </a>
  <a [routerLink]="['contact']" routerLinkActive="active">
    <md-icon>contact_phone</md-icon>
  </a>
  <md-toolbar-row>
    <small class="fancy-font">Photographer/Programmer</small>
  </md-toolbar-row>
</md-toolbar>
<div class="outlet">
  <router-outlet></router-outlet>
</div>