<ng-container *ngIf="nextPhoto; else loading">
  <img style="display: none" [src]="nextPhoto" (load)="onImageLoad()">
  <!--src$="{{_getImageUrl(nextImageToLoad)}}"-->
  <div class="container" style.background-image="url({{currentPhoto}})">
    <!--style$="{{_getImageStyle(currentImage)}}"-->
    <div class="welcome-message-container">
      <div class="welcome-message">
        <h2>Michael Kucinski</h2>
        <div>
          <small>Photographer, Programmer</small>
        </div>
        <div>
          <a [routerLink]="['/gallery']">
            <button style="margin-top: 1em" mat-raised-button color="accent">
              <mat-icon>image</mat-icon> Gallery
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  Please wait...
</ng-template>