     :host {
        display: block;
        width: 100%;
        padding: 0px 0px 1em 0px;
    }
    .reply{
        cursor: pointer;
    }

    .reply:hover{
        background: orangered;
    }

    mat-card.odd {
        background: #f4f4f4;
    }

    small {
        margin-bottom: 1em;
        font-style: italic;
        font-size: initial;
        display: block;
    }

    /* mat-card {
        width: 100%;
    } */

    button {
        background: #09478D;
        color: white;
    }

    button[data-reply] {
        background: orange;
    }

    h6 {
        margin: 0;
    }
