<mat-card class="comment" [ngClass]="even ? 'even' : 'odd'">
    <mat-card-header>
        <div mat-card-avatar class="author-image" style.background="url({{comment.author_avatar_urls[48]}})"></div>
        <mat-card-title>{{comment.author_name}}</mat-card-title>
        <mat-card-subtitle>on {{comment.date | date: "yyyy/MM/dd '@' hh:mm"}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
        <div [innerHTML]="comment.content.rendered"></div>
        <div class="replies" *ngIf="comment.children?.length">
            <mk-comment [post]="post" *ngFor="let child of comment.children; let index = index;" [comment]="child" [parent]="comment"
                [even]="getChildEvenOrOdd(index)">
            </mk-comment>
        </div>
        <mk-create-comment *ngIf="shouldReply" [parentComment]="comment" [post]="post"></mk-create-comment>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        [
        <a class="reply" [attr.data-reply]="shouldReply" (click)="toggleReply()" role="button">
            <!-- <mat-icon>{{replyIcon()}}</mat-icon>-->{{replyTitle()}}
        </a>]
    </mat-card-actions>
</mat-card>