<ng-container *ngIf="fullPhoto">
  <mk-photo-loader [photo]="photo" [odd]="odd" [url]="getPhotoUrl()" (ready)="onWindowResize()" [hidden]="photo.loaded"></mk-photo-loader>
  <div class="photo-container" *ngIf="photo.loaded" @scaleIn>
    <div class="photo-container-inner">
      <div class="photo-and-title">
        <img #image [src]="getPhotoUrl()">
        <span class="title">{{fullPhoto.title._content}}</span>
      </div>
      <div class="description">
        Taken {{fullPhoto.dates.taken}}
      </div>
      <div class="actions">
        <button mat-raised-button class="print" (click)="addToCart('PRINT')">
        <mat-icon>add_shopping_cart</mat-icon> Buy Print
      </button>
        <button mat-raised-button class="digital-download" raised (click)="addToCart('FILE')">
        <mat-icon>file_download</mat-icon> Download
      </button>
        <button mat-raised-button class="flickr" raised (click)="viewOnFlickr()">
        <i class="fa fa-flickr" aria-hidden="true"></i> Flickr
      </button>
      </div>
    </div>
  </div>
</ng-container>