.back {
    background: white;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0.2em;
}
.pagination > button{
    margin-right: 1em; 
}
.next,
.previous,
.pagination paper-button:not(.back):not([disabled]) {
    background: #09478D;
    color: white;
}